$button-radius: 9px;
$operator-panel-color: #f79331;
$operator-panel-active-color: rgb(235, 134, 39);
$operand-panel-color: rgba(212, 212, 212, 0.49);
$operand-panel-active-color: rgba(195, 195, 195, 0.61);
$display-panel-background: #3b3b40;

* {
    box-sizing: border-box;
}

body {
  font-size: 1em;
  font-family: Quicksand, Arial, sans-serif;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#calculator {
  width: 30em;
  height: 40em;

  &.inactive {
    display: none;
  }

  &.active {
    display: block;
  }
}

.display {
  border-radius: $button-radius $button-radius 0 0;
  height: 25%;
  background: $display-panel-background;
  position: relative;
}

.main-panel {
  display: flex;
  height: 75%;
  border-radius: 0 0 0 10px;
}

.operand_panel {
  width: 75%;
  height: 100%;
  background: $operand-panel-color;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 0 $button-radius;

  & .button:active {
    background: $operand-panel-active-color;
  }

  #button_zero {
    border-radius: 0 0 0 $button-radius;
    flex-basis: 4px;
    flex-grow: 2;
  }

  #button_dot {
    flex-basis: 0;
    flex-grow: 1;
  }
}

.result_container {
  color: #fff;
  font-size: 4em;
  font-weight: 100;
  height: 100%;
  text-align: right;
  position: relative;

  & .result {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 12px;
    padding-right: 41px;
  }
}

.operator_panel {
  width: 25%;
  background: $operator-panel-color;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 $button-radius 0;

  & .button:active {
    background: $operator-panel-active-color;
  }

  & .button:focus {
    background: $operator-panel-active-color;
  }

  #button_evaluate {
    border-bottom-right-radius: $button-radius;
  }
}

.button {
  outline: none;
  border: 0.5px solid grey;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  font-weight: 100;
  width: 100%;
  user-select: none;
  flex: auto;
}

.operand_row {
  display: flex;
  height: 100%;
  width: 100%;
}

.operand {
  color: black;
  font-size: 2em;
  font-weight: 400;
}

.val_dot {
  width: 49.5%;
}

@media (max-width: 800px) {
  #calculator {
    width: 100vw;
    height: 100vh;
  }

  .display {
    border-radius: 0;
  }

  .operand_panel {
    border-radius: 0;

    & #button_zero {
      border-radius: 0;
    }
  }

  .operator_panel {
    border-radius: 0;

    #button_evaluate {
      border-radius: 0;
    }
  }
}
